<app-header (clicked)="expandSidenav = !expandSidenav"></app-header>
<side-navigation [expand]="expandSidenav"></side-navigation>

<div class="main-container">
    <div class="row">
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<p-toast position="top-right" key="app" [autoZIndex]='true' [baseZIndex]="5000" [showTransitionOptions]="'0ms'"
    [hideTransitionOptions]="'1100ms'" class="custom-toast">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center; ">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
    </ng-template>
</p-toast>